body {
  font-family: "Roboto", sans-serif !important;
}

$theme-blue: #292d4c;
$theme-gold: #e0b66b;
$theme-blue-bg: #fafbff;
$theme-heading-blue: #434758;
$theme-desc-blue: transparentize($theme-heading-blue, 0.1);

.font-merri {
  font-family: "Merriweather", serif;
}

h5,
h6,
h1,
h2,
h6 {
  &.heading {
    @extend .font-merri;
    // font-weight: 700;
    &.big {
      font-size: 48px;
      color: $theme-heading-blue;
      & + p {
        color: $theme-desc-blue;
      }
    }
  }
}
#map {
  height: 500px;
}
.white {
  color: white;
}

#about {
  background: $theme-blue-bg;
  .circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .icon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: transparentize($theme-blue, 0.1);
      border-radius: 35px;
    }
    .content {
      width: 85%;
      .heading {
        text-transform: capitalize;
        color: $theme-heading-blue;
      }
      p {
        font-size: 14px;
        color: $theme-desc-blue;
      }
    }
  }
  .about-img {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: auto;
    background-image: url('shake.jpg');
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    .content {
      position: relative;
      color: white;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
        i {
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          border: 2px solid;
          justify-content: center;
          border-radius: 26px;
          margin-bottom: 20px;
        }
      }
    }
    .overlay {
      background-color: $theme-blue;
      opacity: 0.6;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.text-grey {
  opacity: 0.8;
}

#products {
  position: relative;
  background-attachment: fixed;
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
  }
  .container {
    position: relative;
  }
  .item {
    text-align: left;
    border: 1px solid transparentize($theme-blue, 0.9);
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    .item-img {
      height: 200px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .content {
      padding: 20px;
      h5 {
        // color: $theme-blue;
        color: #434758;
        font-weight: 600;
      }
      small {
        color: #4a5375;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        span {
          border-radius: 13px;
          background-color: #d1daf9;
          padding: 2px 10px;
          margin: 2px 5px;
          margin-left: 0;
        }
      }
    }
  }
}

.navbar {
  background-color: $theme-blue;
  .contact{
   a{
     &:hover{
       color: $theme-gold;
     }
   }
  }
  .navbar-brand {
    img {
      height: 70px;
    }
  }
  .nav-link {
    text-transform: uppercase;
    color: white;
    @extend .font-merri;
    letter-spacing: 2px;
    font-size: 12px;
    &.active {
      color: $theme-gold;
    }
  }
}
.btn-blue {
  background-color: $theme-blue;
  border: none;
  color: white;
  &:hover {
    color: white;
  }
}
#landingBanner {
  height: calc(100vh - 107px);
  overflow: hidden;

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  .carousel-inner {
    height: 100%;
    @media(max-width:767px ){
//  display: flex;
      img{
        height: 100%;
        width: auto !important;
      }
    }

    .carousel-item {
      height: 100%;
    }
  }
  .carousel-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
  }
  .carousel-caption {
    top: 15%;

    @media(min-width:768px ){
      left: 20%;
      right: 20%;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      text-transform: capitalize;
      @media(min-width:768px ){
        font-size: 56px;

      }
    }
    p {
      //   font-size: 1.25rem;
      letter-spacing: 0.5px;
      opacity: 0.8;
      margin: 20px 0;
    }
    button {
      padding: 10px 20px;
    }
  }
}

#contact {
  background-color: $theme-blue-bg;
  .contact-item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > i {
      border: 2px solid $theme-blue;
      font-size: 32px;
      opacity: 0.9;
      padding: 8px;
      color: $theme-blue;
      border-radius: 30px;
      margin-bottom: 10px;
    }
    a {
      color: $theme-blue;
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover {
        border-bottom: 1px solid;
      }
      i {
        font-size: 18px;
        margin-right: 5px;
      }
    }
    span {
      color: $theme-desc-blue;
      &:first-of-type {
        // @extend.font-merri;
        letter-spacing: 1px;
        margin: 5px 0;
        font-size: 14px;
      }

      &:not(:first-of-type) {
        // color: $theme-blue;
        font-weight: 600;
      }
    }
  }
}

#footer {
  background-color: $theme-blue;
  padding-top: 40px;
  color: $theme-gold;
  .exim {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
    }
    p{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    margin-top: 10px;
    }

  }
  .end-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid $theme-heading-blue;
    margin-top: 20px;
    color: lighten($theme-desc-blue, 40%);
    small{
      letter-spacing: 4px;
      font-size: 10px;
    }
  }
}
