body{
    font-family: 'Roboto', sans-serif !important;
}

h5, h6, h1, h2, h6{
    &.heading{
      // font-family: 'Abril Fatface', cursive;
      font-weight: 700;
    }
}
#map{
  height: 500px;
}
.white{
  color: white;
}

#about {
  background: #eee;
  .circle-item{
    display: flex;
    justify-content: space-between;
    @extend .text-grey;
    .icon{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #b7aa34;
      border-radius: 35px;
    }
    .content{
      width: 85%;
      p{
        font-size: 14px;
      }
    }

  }
}

.text-grey{
  opacity: 0.8;
}

#products{
  position: relative;
  background-image: url("ship.jpg");
  background-attachment: fixed;
  .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
  }
  .container{
    position: relative;
  }
  .item{
    text-align: left;
    .item-img{
    height: 400px;
    overflow: hidden;
    }
    h5{
      margin: 20px 0;
      font-weight: 700;
    }
  }
}

.navbar {
  border-bottom: 1px solid #eee;
  .navbar-brand {
    img {
      height: 80px;
    }
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 600;
  }
}
.btn-gold{
    background-color: white;
    border: none;
    color: #736600;
}
#landingBanner {
  height: calc(100vh - 107px);
  overflow: hidden;

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
//   .carousel-control-prev {
//     justify-content: flex-start;
//     left: 15%;
//     top: 60%;
//     bottom: auto;
//     right: auto;
//     width: auto;
//   }
//   .carousel-control-next {
//     justify-content: flex-start;
//     left: 18%;
//     top: 60%;
//     bottom: auto;
//     right: auto;
//     width: auto;
//   }
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
    }
  }
  .carousel-overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
  }
  .carousel-caption {
    top: 15%;
    left: 30%;
    right: 30%;
    h1 {
      text-transform: capitalize;
    }
    p {
    //   font-size: 1.25rem;
      letter-spacing: 0.5px;
      opacity: 0.6;
      margin-top: 20px;
    }
  }
}
